<%= render 'shared/navbar' %>
<div class="container1">

  <div class="dash-bar">
   <div class="header">
    <h3>My seeds</h3>
   </div>
   <div class="dash-list-theme">
    <% @themes.each do |item| %>
      <% if item.user == current_user %>
        <a href="/themes/<%=item.id%>">
          <div class="list-element">
            <div class="vitality-count">
            </div>
            <p> <%= item.name %></p>
          </div>
        </a>
      <%end%>
    <%end%>
    <div class="new hidden">
      <div id="form-container-theme">
        <%= render 'themes/form_new', theme: Theme.new %>
      </div>
    </div>
    <div class="dash-decks-button">
      <a id="launch-new-theme" class="btn btn-green special right full"><%= icon('fa', 'plus', 'Add a new theme') %></a>
    </div>
  </div>
</div>
<div class="dash-garden">
  <div class="return-dash hidden">
</div>
    <div class="forest">
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant1' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant5' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant1' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant5' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
     </div>
  </div>
</div>



