<%= render 'shared/navbar' %>
<div class="container1">

      <div class="button-bar">
    <div class="new hidden">
      <div id="form-container-theme">
        <%= render 'themes/form_new', theme: Theme.new %>
      </div>
    </div>
      <a id="launch-new-theme" class="btn btn-green"><%= icon('fa', 'plus', 'New theme') %></a>
  </div>

  <div class="dash-bar">

   <div class="header">
    <h3>My themes</h3>

   </div>
   <div class="dash-list-theme">
   <div class="heading">
  <!--    <p class="vitality">score</p>
     <p>name</p> -->

   </div>
    <% @themes.each do |item| %>
      <% if item.user == current_user %>
        <a href="/themes/<%=item.id%>">
          <div id=list_<%=item.id%> class="list-element">
           <p> <%= item.name %>
            <a href="/themes/<%=item.id%>/learn">learn</a>
          </p>
          </div>
          </a>

      <%end%>
    <%end%>
  </div>
</div>
  <div class="dash-garden">
    <div class="return-dash hidden"></div>

      <div class="forest">

        <% @data.each do |key, metrics| %>
             <a href="/themes/<%=metrics[:id]%>" >
        <div id=forest_<%=metrics[:id]%> class="tree-forest">
        <div class="tree-vita"><%= metrics[:vitality]%>%</div>
        <h2 class="tree-name"><%= key %></h2>
        <p class="tree-count"><%= @nbcard = metrics[:nb_card] %> cards</p>
          <% if @nbcard == 0 %>
          <%= render 'plant1', vitality: metrics[:vitality] %>
          <% elsif @nbcard >= 50 %>
          <%= render 'plant5', vitality: metrics[:vitality] %>
          <% elsif @nbcard >= 30 %>
          <%= render 'plant4', vitality: metrics[:vitality] %>
          <% elsif @nbcard >= 20 %>
          <%= render 'plant3', vitality: metrics[:vitality] %>
          <% else %>
          <%= render 'plant2', vitality: metrics[:vitality] %>
          <% end %>
          <% vitality = metrics[:vitality]%>
           <!--   <#% if vitality  < 50 %>
          < class="feuillage" fill="#fff" >
          <#% elsif vitality > 50 %>
          <#% end %> -->
          </a>
        </div>
        <%end%>
      </div>

  </div>
</div>






