<div class="container1">

  <div class="dash-bar">
    <div class="search-bar <%= action_name %>">
      <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query], class: "search-field", placeholder: "Search"%>
      <button type="submit" class="search-button"><i class="fa fa-search"> </i></button>
      <% end %>
    </div>
    <div class="dash-profil">
      <img class="avatar-large" src="https://images.unsplash.com/photo-1546538994-4f15d0aa966f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
      <h4>user.name</h4>
      <a href="#profil">modify</a>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <hr>
   </div>

   <div class="header"><h3>My seeds</h3></div>

   <div class="dash-list-theme">
    <% @themes.each do |item| %>
    <a href="/themes/<%=item.id%>">
      <div class="list-element">
        <div class="vitality-count"></div>
        <p> <%= item.name %></p>
      </div>
    </a>
    <%end%>
  </div>
</div>

<div class="dash-garden">
  <div class="return-dash hidden"></div>
  <div class="forest">
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant1' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant5' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant1' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant1' %>
      <%= render 'plant5' %>
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
     </div>
</div>
</div>



