<%= render 'shared/navbar' %>
<div class="container1">

    <div class="button-bar">
    <div class="new hidden">
      <div id="form-container-theme">
        <%= render 'themes/form_new', theme: Theme.new %>
      </div>
    </div>
      <a id="launch-new-theme" class="btn btn-green full"><%= icon('fa', 'plus', 'New theme') %></a>
  </div>
  <div class="dash-bar">
   <div class="header">
    <h3>My themes</h3>
   </div>
   <div class="dash-list-theme">
   <div class="heading">
     <p class="vitality">vitality</p>
     <p>name</p>
   </div>
    <% @themes.each do |item| %>
      <% if item.user == current_user %>
        <a href="/themes/<%=item.id%>">
          <div class="list-element">
            <div class="vitality-count">
            </div>
            <p> <%= item.name %></p>
          </div>
        </a>
      <%end%>
    <%end%>
  </div>
</div>
<div class="dash-garden">
  <div class="return-dash hidden">
</div>
    <div class="forest">
      <%= render 'plant2' %>
      <%= render 'plant3' %>
      <%= render 'plant4' %>
      <%= render 'plant5' %>
      <%= render 'plant4' %>
      <%= render 'plant1' %>
     </div>
  </div>
</div>



