<div class="back">
  <a href="/themes" ><%= icon('fas', 'chevron-left') %></a>
</div>

<div class="card-theme">
   <h2> <%= @theme.name %> </h2>
   <% @theme.decks.each do |item|  %>

   <div class="d-flex bd-highlight bg-white p-3 shadow-sm rounded m-2 border" style="margin-left: <%=20*(item.rank-1)%>px !important;">
   <%= item.name%>
   </div>



   <%end%>


<hr>
  <%= link_to 'change', edit_theme_path(@theme), class:"btn btn-primary" %>
</div>

<p id="notice"><%= notice %></p>





