<div class="container1">

  <div class="dash_bar">

    <div class="dash_profil <%= action_name %>">
      <div class="back">
        <a href="/themes" ><%= icon('fas', 'chevron-left') %></a>
      </div>
      <h2> <%= @theme.name %> </h2>
    </div>
    <br>
    <div class="dash_list_decks">
     <% @theme.decks.each do |item|  %>
     <a  href=<%="/decks/#{item.id}"%>>
      <div class="list_element rank" style="margin-left: <%=20*(item.rank-1)%>px !important;">
        <p><%= item.name%> (<%= item.cards.count%>)</p>
      </div>
      <div class="separator-bar" style="margin-left: <%=30*(item.rank)%>px;"></div>
    </a>
    <%end%>
  </div>
  <div class="dash-decks-button">
  <%= link_to icon('fas', 'edit', '  Edit'), edit_theme_path(@theme), class:"btn btn-purple special left" %>
  <a href="/learn" class="btn btn-green special right"><%= icon('fas', 'seedling', '  Learn') %></a>
</div>
</div>

<div class="dash_mindmap">
 <!--  <p id="notice"><%= notice %></p> -->
 <div id="tree-container"></div>
 <div class="raw-json hidden">
  <%= @map %>
</div>
</div>

</div>



