<div class="back">
  <a href="/themes" ><%= icon('fas', 'chevron-left') %></a>
</div>

<div class="card-theme">
   <h2> <%= @theme.name %> </h2>
   <% @theme.decks.each do |item|  %>
  <a href=<%="/decks/#{item.id}"%>>
    <div class="d-flex bd-highlight bg-white p-3 shadow-sm rounded m-2 border" style="margin-left: <%=20*(item.rank-1)%>px !important;">
      <%= item.name%> (<%= item.cards.count%>)
    </div>
    </a>

   <%end%>


<hr>
  <%= link_to icon('fas', 'edit', '  Edit'), edit_theme_path(@theme), class:"btn" %>
  <a href="/learn" class="btn"><%= icon('fas', 'seedling', '  Training') %></a>
</div>

<p id="notice"><%= notice %></p>

<script src="d3.min.js"></script>


<div id="body">
      <%# <div id="toolbar">
        <button onclick="createNew(); return false;">New</button>
        <button onclick="loadFreeMind('test.mm'); return false;">FreeMind (test.mm)</button>
        <button onclick="loadJSON('flare.json'); return false;">Flare (flare.json)</button>
        <button onclick="loadJSON('data.json'); return false;">JSON (test.json)</button>
        <button onclick="addNodes('right'); return false;">Add nodes right</button>
        <button onclick="addNodes('left'); return false;">Add nodes left</button>
        <button onclick="moveNodes('right', 'left'); return false;">Move right to left</button>
        <button onclick="moveNodes('left', 'right'); return false;">Move left to right</button>
        <button onclick="setConnector('diagonal'); return false;">Diagonal connector</button>
        <button onclick="setConnector('elbow'); return false;">Elbow connector</button>
      </div> %>
</div>

<div class="raw-json hidden">
<%= @map %>
</div>





