<%= render 'shared/navbar' %>
<div class="container1">

  <div class="button-bar">
   <div class="btn btn-green" data-toggle="modal" data-target="#auto-card"><%= icon('fa', 'plus', 'New branch') %></div>

      <a href=<%="#{@theme.id}/learn"%> class="btn btn-purple"><%= icon('fas', 'seedling', '  Learny') %></a>

</div>

<div class="dash-bar">
    <div class="header">
      <div class="back mediumgreen">
        <a href="/themes"><%= icon('fas', 'chevron-left') %></a>
      </div>
      <h3 class=""> <%= @theme.name %></h3>
    </div>
    <div class="dash-list-decks">
    <canvas class="separator"></canvas>

      <div class="vitality-time">
        <div class="vitality">

        <% totalcards = 0 %>
        <% @theme.decks.each do |item|  %>
        <% totalcards = totalcards + item.cards.count%>
        <%end%>
        <% unknown = 0 %>
        <% known = 0 %>
        <% totalcards ? totalcards = 0 : known = totalcards/rand(1..totalcards)  %>
        <% known == 0 ? unknown = 0 : unknown = totalcards - known  %>
        <% score = ((known/(totalcards+1))*100).round(0) %>

          <div class="counter"><h3 class="nb"><%=score%>%</h3></div>
          <p>vitality</p>
        </div>
        <div class="time">
        <h4 class="nb"><%= totalcards == 0 ? 0 : rand(0..5)%>h</h4>
        <p>learning</p>
        </div>
      </div>
      <canvas class="separator"></canvas>

      <div class="numbers-card">
        <div class="totalcards">
          <h4 class="nb"><%= totalcards %></h4>
          <h4> Flashcards</h4>
        </div>
        <div class="good">
          <h4 class="nb"><%= known %></h4>
          <h4>known</h4>
        </div>
        <div class="bad">
          <h4 class="nb"><%= unknown %></h4>
          <h4>unknow</h4>
        </div>
      </div>

      <% render 'themes/theme_decks', theme: @theme %>
      <canvas class="separator"></canvas>
      <div class="option">
        <h4>public deck</h4>
        <input type="checkbox" name="sharing">
      </div>
      </div>
     <!--  liste des decks -->

  </div>
  <div class="view-data">
    <%# <div class="hidden view-data-tree" id="circle-container">
      <svg width="1100" height="900"></svg>
    </div> %>
    <div class id="tree-container"></div>
    <div class="raw-json hidden">
      <%= @map %>
    </div>
  </div>
  <div class="modal fade" id="auto-card" tabindex="-1" role="dialog" aria-labelledby="auto-cardLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="auto-cardLabel">Create a new deck</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-deck-creation">
          <%= render 'decks/form_modal', deck: Deck.new, theme: @theme %>
        </div>
      </div>
      <div class="modal-after">
      </div>
    </div>
  </div>
</div>
<!--   <div class="choice-data">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label id="option1" class="btn btn-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off" checked> Circle
      </label>
      <label id="option2" class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Tree
      </label>
    </div>
  </div> -->


