<div class="container1">

  <div class="dash-bar">

 <!--    <p id="notice"><%= notice %></p> -->
    <div class="dash-profil <%= action_name %>">
      <div class="back white">
        <a href="/themes"><%= icon('fas', 'chevron-left') %></a>
      </div>
      <h2> <%= @theme.name %> </h2>
    </div>
    <br>

    <div class="dash-list">

      <div class="dash_list_decks">
        <% @theme.decks.each do |item|  %>
          <a href=<%="/decks/#{item.id}"%>>
            <div class="list-element rank" style="margin-left: <%=20*(item.rank-1)%>px !important;">
              <p><%= item.name%> (<%= item.cards.count%>)</p>
            </div>
            <div class="separator-bar" style="margin-left: <%=30*(item.rank)%>px;"></div>
          </a>
        <% end %>
      </div>

      <div class="dash-decks-button">
        <%= link_to icon('fas', 'edit', '  Edit'), edit_theme_path(@theme), class:"btn btn-purple special left" %>
        <a href="/learn" class="btn btn-green special right"><%= icon('fas', 'seedling', '  Learn') %></a>
      </div>

    </div>

  </div>

  <div class="view-data">
    <div class="hidden view-data-tree" id="circle-container">
      <svg width="1100" height="900"></svg>
    </div>

    <div class id="tree-container"></div>


    <div class="raw-json hidden">
      <%= @map %>
    </div>

  </div>


  <div class="choice-data">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label id="option1" class="btn btn-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off" checked> Circle
      </label>
      <label id="option2" class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Tree
      </label>
    </div>

  </div>

</div>
