 <div class="input-card">
   <%= simple_form_for([ deck, card ]) do |form| %>

   <div class="input-card-left">
     <%= form.input :term, input_html: { id: 'new_term'} %>
     <%= form.input :photo, as: :hidden, class: "hidden", input_html: { id: 'new_img_hidden'}%>
     <div class="change-photo">
       <a class="btn-change-photo-new" ><%= icon('fas', 'exchange-alt')%></a>
       <img src="" id="new-img" alt="img">
       <div class="alt-photo-container-new hidden">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
         <img class=alt-photo-new src="https://source.unsplash.com/random" alt="img">
       </div>
     </div>
   </div>

 <div class="input-card-right">
   <%= form.input :definition, as: :text, input_html: { id: 'new_definition'} %>
   <%= form.input :context , input_html: { id: 'new_context'}%>
   <%= form.input :memo , input_html: { id: 'new_memo'}%>
 </div>



 </div>
 <%= form.button :submit %>
 <% end %>
