
<%= simple_form_for(@deck) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :vitality %>
    <%= f.input :rank %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :theme %>
    <%= f.input :stars %>
    <%= f.input :is_private %>
    <%= f.input :parent_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
