<%= render 'shared/navbar' %>
<div class="search-full">
  <div class="search-left">
    <div class="search-box">
      <div class="search-results">
        <div class="fixed-top">
          <div class="search-form">
            <%= form_tag search_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control input-search left",
              placeholder: "Search for a set of Flashcards"
              %>
            </div>
            <div class="search-submit">
              <%= submit_tag "Search", class: "btn btn-purple right" %>
              <% end %>
            </div>
          </div>
          <div class="results">
            <% @childs.each do |d| %>
            <% if d.original_owner == true %>
            <div class="result-deck" id="<%= d.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513710281312-7a43f9cdbfcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">

              <%= d.name  %>

            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="search-right hidden">
      <div class="search-box">
        <div class="card-name">
          <p>Name</p>
        </div>
        <div class="flashcards">
          <% @cards.each do |c| %>
          <% end %>
        </div>


          <% if Theme.where(user: current_user).empty? %>
          <div class="add hidden">
          <%= flash[:notice] = "Before being able to import a deck, you have to create a Theme" %>
          <%= render partial: 'themes/form', theme: @theme %>
          </div>
          <% else %>

          <div class="add2 hidden">
            <%= simple_form_for(@deck, url: '') do |f| %>
              <%= f.association :theme, :collection => Theme.where(user: current_user) %>
              <%= f.association :parent, class: 'hidden', collection: [] %>
              <%= f.button :submit, class: 'btn btn-white' %>


          </div>
          <% end %>
          <% end %>


      </div>
    </div>
  </div>
