<p id="notice"><%= notice %></p>

<div class="back">
  <a href="/themes/<%=@theme.id%>" ><%= icon('fas', 'chevron-left') %></a>
</div>

<div class="container mt-5">
  <h1><%= @deck.name.capitalize %></h1>
  <div class="description"><%= @deck.description %></div>
  <div class="card-container">
  <% @deck.cards.each do |card|%>
  <%= render 'decks/form_update', deck: @deck, card: card %>
  <%end %>
  </div>
  <br>
 <div class="new hidden">
 <hr>
  <h2>Add new card</h2>
  <%= render 'decks/form_new', deck: @deck, card: Card.new %>
<br>
</div>
</div>

<div class="btn-add">+</div>

<%#
- AJAX
- SUGGESTION IMAGE
- SUGGESTION DEFINITION
- HOLDER
- UPDATE
- DELETE
- CHANGE PHOTO ALL
- CHANGE DEF ALL
- V2 FAIRE NOUVEAU GRAPHIQUE
 %>
