<p id="notice"><%= notice %></p>

<div class="back">
  <a href="/themes" ><%= icon('fas', 'chevron-left') %></a>
</div>

<div class="container mt-5">
  <h1><%= @deck.name.capitalize %></h1>
  <div class="description"><%= @deck.description %></div>
  <% @deck.cards.each do |card|%>
  <%= render 'decks/form_update', deck: @deck, card: card %>
  <%end %>
  <br><hr>
  <h2>Add new card</h2>
  <%= render 'decks/form_new', deck: @deck, card: Card.new %>
<hr>
</div>

<div class="btn-add">+</div>

<%#
- AJAX
- SUGGESTION IMAGE
- SUGGESTION DEFINITION
- HOLDER
- UPDATE
- DELETE
- CHANGE PHOTO ALL
- CHANGE DEF ALL
- V2 FAIRE NOUVEAU GRAPHIQUE
 %>
