<p id="notice"><%= notice %></p>



<div class="back">
  <a href="/themes/<%=@theme.id%>" class="green" ><%= icon('fas', 'chevron-left') %></a>
</div>

<div class="container mt-5">


<%# <div class="header-decks"> %>


  <h1 class=green><%= @deck.name.capitalize %></h1>
  <div class="description green"><%= @deck.description %></div>
  <div class="card-container">
  <% @deck.cards.each do |card|%>
  <%= render 'decks/form_update', deck: @deck, card: card %>
  <%end %>
  </div>
  <br>
 <div class="new hidden">
 <hr>
  <h2>Add new card</h2>
  <%= render 'decks/form_new', deck: @deck, card: Card.new %>
<br>
</div>
</div>

<div class="btn-add">+</div>

<%# <div class="btn-opt opt-hidden"></div> %>
<button type="button" class="btn btn-opt opt-hidden" data-toggle="modal" data-target="#auto-card">
 <%= icon('fas', 'edit')%>
</button>

<div class="modal fade" id="auto-card" tabindex="-1" role="dialog" aria-labelledby="auto-cardLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auto-cardLabel">Add card from text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div contenteditable=true class="editable"> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" id="save-text-btn" class="btn btn-primary">Save</button>
      </div>

      <div class="modal-after"></div>



<!--position originale add new-->



</div>


<%#
- HOLDER
- DELETE
- V2 FAIRE NOUVEAU GRAPHIQUE
 %>
